<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Admin - CharityConnect</title>
</head>
<body>
  <div class="login-container">
    <h2>Admin Login</h2>
    <form id="loginForm">
      
      <input type="password" name="password" placeholder="Enter You Passkey" required>
      <button type="submit">Login</button>
    </form>
    
  </div>
  <script src="/js/admin/profile.js"></script>
</body>
</html>
