<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/landingPage.css" rel="stylesheet">
  <title>Charity App</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to CharityConnect</h1>
        <p>Join us to make a contribution or start a new campaign.</p>
        <div class="buttons">
          <a href="/auth/login">Login</a>
          <a href="/charity/signUp">Start a Campaign</a>
          <a href="/admin/login">Admin Login</a>
        </div>
      </div>
</body>
</html>
